/* --------------------------
Navigation
-------------------------- */

.navigation-wrapper {
  @apply fixed top-0 left-0 z-10 z-30 w-full h-screen p-6 text-lg tracking-widest uppercase transition-all duration-100 ease-in bg-opacity-75 backdrop-blur text-empress-900;

  transform: translateY(-100%);

  @screen md {
    @apply static top-auto left-auto block w-full h-auto p-0 bg-transparent;

    transform: translateY(0);
  }
}

.navigation-wrapper--is-active {
  @apply block;
  transform: translateY(0);
}

.navigation-button {
  padding: 15px;
  @apply fixed top-0 right-0 z-40 block w-12 h-12 mt-1 mr-1 cursor-pointer;

  @screen md {
    @apply hidden;
  }
}

.navigation-button__inside {
  @apply relative z-50 w-full h-full;
}

.navigation-button__lines {
  @apply absolute top-0 block w-1/2 transition-all duration-100 ease-in opacity-100 bg-empress-900;
  height: 2px;
}

.navigation-button.is-active {
  @apply bg-transparent;
}

.navigation-button.is-active .navigation-button__line-1 {
  @apply left-0 transition-all duration-100 ease-in transform rotate-45;
  margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-2 {
  @apply left-0 transition-all duration-100 ease-in transform -rotate-45;
  margin-top: 10px;
}

.navigation-button.is-active .navigation-button__line-3 {
  @apply left-0 hidden mt-4;
}

.navigation-button.is-active .navigation-button__line-4 {
  @apply right-0 hidden;
}

.navigation-button.is-active .navigation-button__line-5 {
  @apply right-0 transition-all duration-100 ease-in transform -rotate-45;
  margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-6 {
  @apply right-0 transition-all duration-100 ease-in transform rotate-45;
  margin-top: 10px;
}

.navigation-wrapper__list-item {
  margin: 3px 0;

  @screen md {
    @apply inline-block mx-1;
  }
}

.navigation-wrapper__link {
  @apply self-end inline-block px-1 py-1 text-empress-700 font-heading;
}

@screen md {
  .navigation-wrapper__link {
    @apply pl-2 pr-4 transition-all duration-300 bg-left border-r text-empress-700 border-empress-200;
    &:hover {
      @apply border-orange-500 text-empress-900;
    }
  }
}
